/* Formatação de inicial */

html{
    height: 100%;
}

a {
    clear: both;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.75s;

}

a:hover{
    color: blue;
    font-size: 26px;
    transition: 0.75s;

}




body{
    background: url(https://fmartinsfotografias.github.io/Fernando-Martins-curriculum/cidade2.jpg) fixed center;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    color: white;
    text-decoration: white;
    
}
.titulo{
    text-align: left;
    color: white;
    margin-left: 330px;
}
.caixa{
    box-sizing: 940px;
    min-width: 500px;
    
}
img {
    border-radius: 50%;
    width: 65%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37)
    
}
img:hover{
    width: 70%;
    transition: 500ms;
}
.foto-perfil{
    text-align: center;

}

.dados-pessoais{
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );   
    font-size: 16px;
    vertical-align: top;
    padding: 20px 20px;
    padding-bottom: 20px;
    margin: 10px;
    width: 20%;
    height: 1170px;
    border-radius: 15px;
    box-shadow: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    text-decoration: none;
    text-align: left;

}

.dados-pessoaish2{
    border-bottom: 1px solid rgba(255, 99, 71, 0.4);
    border-left: 1px solid rgba(255, 99, 71, 0.4);
    padding-left: 10px;
}

.curriculum {
    border-bottom: 1px solid rgba(255, 99, 71, 0.4);
    border-left: 1px solid rgba(255, 99, 71, 0.4);
    padding-left: 10px;
}

.dados-pessoais h1:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 400ms;

}

.dados-pessoaish2:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 400ms;
}


.dados{
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

.dados:hover{
    transition: 400ms;
    font-size: 16px;
}


.competencias{
    border-bottom: 1px solid rgba(255, 99, 71, 0.4);
    border-left: 1px solid rgba(255, 99, 71, 0.4);
    padding-left: 10px;

}
.competencias:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 400ms;
    
}


.cursos{
    font-weight: bold;    
    border-bottom: 1px solid rgba(255, 99, 71, 0.4);
    padding-left: 10px;
}

.cursos:hover{
        color: rgba(255, 97, 97, 0.651);
        transition: 400ms;
}

.nivel:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 0.5s;
    font-size: 18px;
}

.nivel{
    font-size: 14px;
}

    
.principal{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding:  20px ;
    margin: 10px;
    border-radius: 15px;
    width: 70%;
    height: 1170px;
    min-width: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    text-align: left;
    
}

.principal h2{
    border-bottom: 1px solid rgba(255, 99, 71, 0.4);
    border-left: 1px solid rgba(255, 99, 71, 0.4);
    padding: 10px;
}

.principal h2:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 800ms;
    font-size: 28px;
}
.lista-linguagem:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 400ms;
    font-size: 20px;
}

.lista-linguagem{
    border-bottom: 1px solid rgba(255, 99, 71, 0.4);
    padding: 10px;

}

.lista-projetos{
    margin: 20px;
    text-decoration: none;
    color: white;    
}
.lista-projetos:hover{
    color: rgba(255, 97, 97, 0.651);
    transition: 400ms;
    font-size: 18px;
    font-weight: bold;

}
.rodape{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 45px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

.titulo-code .titulo-video{
    font-size: large;
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
    margin-bottom: 0px;
    width: 80%;
    height: 620px;
    min-width: 600px;
    padding: 10px;
}
.descricao-code{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 15px;
    width:80%;
    height:100px;
    min-width: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    display: inline-block;
    vertical-align: top;
    padding:  20px ;
    margin-left: 70px;
    margin-right: 70px;
    text-align: left;
    

}
.code{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 15px;
    width: 80%;
    height: 550px;
    min-width: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    margin-left: 0px;
    margin-right: 60px;
    text-align: left;
    font-size: 14px;
}

.video{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 15px;
    width: 80%;
    height: 620px;
    min-width: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    display: inline-block;
    vertical-align: top;
}

.play-video{
    margin: 30px;
    box-shadow: 5px 5px 25px rgb(0, 0, 0);
}

@media screen and (max-width: 480px){

    body{
        background-color: rgb(255, 255, 255);
        box-sizing: auto;
        text-align: left;
        padding: 20px;
    }
    .dados-pessoais ,.principal
    {
        width: auto;
        margin-bottom: 10px;
        margin-top: 0px;
    }


}
